body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.row{
    margin: 0;
}
.home-header{
    position: relative;
}
.scroll {
    position: absolute;
    width: 26px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 13px;
    background: transparent;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

  }
  @keyframes moveScroll {
    0% {
        top: 6px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: 18px;
        opacity: 0;
    }

  
  
  }
  .scroll::after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: moveScroll 2s infinite ease-in;
  }
section .container{
    padding: 100px 0;

}
input, textarea {
    line-height: 1;
    padding: 14px 18px;
    color: #a6a6a6;
    border-radius: 3px;
    border: 2px solid #eee;
    background-color: #fff;
    -webkit-transition: border-color 0.15s ease-in;
    -moz-transition: border-color 0.15s ease-in;
    transition: border-color 0.15s ease-in;
}
.contact-form .field input, .contact-form .field textarea {
    width: 100%;
}
.setting {
    position: fixed;
    left: 0;
    top: 20%;
    z-index: 2222;
  }
  .next-prev{
    display: flex;
    position: absolute;
    top: 50%;
    flex-direction: column;
  }
  .carousel-control-next, .carousel-control-prev{
      position: unset;
      width: 85%;
      border: 1px solid;
      padding: 20px;
  }
  .carousel-control-next{
    border-bottom-right-radius: 3px;
 
  }
  .carousel-control-prev{
    border-top-right-radius: 3px;
    border-bottom: 0;
  }
  .carousel-control-prev ,
  .carousel-control-next
  {

    transition: all 0.3s;
    position: relative;
  
}
.carousel-control-prev:after,
.carousel-control-next:after
 {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -2;
}
.carousel-control-prev:before ,
.carousel-control-next:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
    border-radius: 0;
    z-index: -1;
}
.carousel-control-prev:hover .fa-chevron-left:before,
.carousel-control-next:hover .fa-chevron-right:before
{
    color: #f25454;
}
.carousel-control-prev:hover:before ,
.carousel-control-next:hover:before 
{
    width: 100%;
}
.navbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 0;
    background-color: transparent;
}
.navbar .nav-link{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
}
.navbar .nav-item.active .nav-link{
    color: #f25454 ;
}
.navbar .navbar-nav>li a:hover, .navbar .navbar-nav>li a:focus, .navbar .navbar-nav>li.active>a, .arrows .arrow i:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #f25454 ;
}
.red-logo{
    display: none;
}
.navbar .nav-item i.fa-twitter{
    margin-left: 20px;
}
.navbar .nav-item i{
    line-height: 36px;
    color: #fff;
    margin-right: 17px;
}
.navbar.fixed-bg{
    background-color: #fff;
    box-shadow: 5px 5px 15px 0 rgb(31 31 31 / 7%);
    padding: 10px 0;
}
.navbar.fixed-bg .nav-link,
.navbar.fixed-bg .nav-item i
{
    color: #000;
}
.home-header .carousel-caption{
    width: 100%;
    height: 100%;
    left: 0 !important;
    z-index: 0;
}
 .home-header .carousel-caption h1 ,
 .home-header .carousel-caption h2
{
    margin-top: 24%;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
}


.about-us .container .section-title h2 ,
.our-team .container .section-title h2,
.contact .container .section-title h2,
.our-services .container .section-title h2,
.client-reviews .container .section-title h2
{
    position: relative;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: none;
}
.about-us .container .section-title h2:before ,
.our-team .container .section-title h2:before ,
.contact .container .section-title h2:before,
.our-services .container .section-title h2:before ,
.client-reviews .container .section-title h2:before
{
    content: attr(data-bigletter);
    position: absolute;
    font-size: 2em;
    opacity: .06;
    top: -0.17em;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
}
.about-us .container p.heading,
.our-team .container p.heading,
.contact .container p.heading,
.our-services .container p.heading,
.client-reviews .container p.heading
{
    width: 74%;
    margin: auto;
    font-size: 18px;
}
.about-us .container .section-title h2:after,
.our-team .container .section-title h2:after,
.contact .container .section-title h2:after,
.our-services .container .section-title h2:after,
.client-reviews .container .section-title h2:after{
    content: "";
    background-color: #000;
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: -11px;
    right: 0;
    left: 0;
    margin: auto;
}
.about-us .container .section-title:hover .about-us .container .section-title h2:after{
    content: "";
    background-color: #000;
    position: absolute;
    width: 80px;
    height: 1px;
    bottom: -11px;
    right: 0;
    left: 0;
    margin: auto;
}
.about-us  .about-us-details p .carousel-caption
.our-team 
{
  font-size: 14px;
}
.progress-block{
    margin-bottom: 20px;
}
.progress{
    height: 0.3rem;
}
.progress-value{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.team-details{
    margin-top: 20px;
}
.team-details .title{
    font-size: 16px;
    margin-bottom: 2px;
}
.navbar .navbar-toggle:hover .icon-bar,
.btn.btn-default, 
.portfolio-item .loading, 
.progress .progress-bar,
.dropcap.alt, .highlight,
.sticker.default,
#zoom-in:hover, #zoom-out:hover {
    background-color: #f25454;
}
.our-team .contact{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 90px;
    align-items: center;
}
.our-team .contact a{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    color: #fff;
    font-size: 13px;
}
.our-team .contact h3{
    font-weight: normal;
    font-size: 32px;
}

/*our services*/
.our-services{
    background-color: #fafafa;
}
.service-item h3 {
    font-size: 18px;
    margin-top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.service-item{
    display: flex;
}
.service-item .icon{
 font-size: 35px;
 color: #f25454;
 margin-right: 27px;
}

/* Contact info */

.contact-info h3 {
    margin: 0 0 30px 0;
}

.contact-content {
    clear: both;
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}

.contact-info>.contact-content:last-child {
    border-bottom: 0;
}

.contact-content>.icon {
    position: relative;
    display: block;
    float: left;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    margin-right: 20px;
    text-align: center;
    cursor: default;
    color: #f25454 ;
}

.contact-content>.contact-text {
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 60px);
}
.contact-content>.contact-text a{
    color: #000;
}
.contact-content>.contact-text>h4 {
    margin: 0;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-content>.contact-text>p {
    margin: 0;
}

.contact-form-holder button{
    font-size: 14px;
    color: #fff;
}
/* Contact form */

.contact-form .field {
    width: 98.24561403508772%;
    margin-bottom: 20px;
    position: relative;
}

.contact-form .field:last-child {
    margin-bottom: 40px;
}

.contact-form .field input,
.contact-form .field textarea {
    width: 100%;
}

.contact-form .field textarea {
    height: 110px;
}

.contact-form .field .error {
    display: none;
    position: absolute;
    top: 17px;
    right: 15px;
    line-height: 1;
    cursor: default;
}

.contact-form .field .error i {
    font-size: 14px;
    cursor: inherit;
    color: #a6a6a6;
}

.contact-form-result {
    display: none;
}

.contact-form-result h3 {
    margin: 0 0 20px 0 !important;
}

.contact-form h5 {
    margin-top: 0;
}


footer {
    position: relative;
    clear: both;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    color: #b0b0b0;
}

/* Widgets */

footer .footer-widgets {
    position: relative;
    clear: both;
    background: #222;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/dotted-map.png");
    background-size: contain;
}

footer .footer-widgets h5 {
    color: #fff;
    margin-bottom: 20px;
}

footer .footer-widgets a {
    color: #b0b0b0;
}

footer .footer-widgets .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-widgets .tags {
    margin-top: 16px;
}

footer .footer-widgets .tags .tag {
    border: 1px solid #b0b0b0;
}

/* To top */

footer .to-top {
    position: absolute;
    display: block;
    z-index: 10;
    left: 0;
    right: 0;
    top: -25px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    cursor: pointer !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer .to-top:hover {
    color: #fff;
}

footer .to-top i {
    color: #fff;
}

/* Social */

.footer-social {
    cursor: default;
    line-height: 1;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social a>i {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    width: 1.2em;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Copyright */

footer .footer-copyright {
    position: relative;
    clear: both;
    background: #1a1a1a;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .copyright {
    clear: both;
    margin: 0;
    line-height: 16px;
    letter-spacing: .5px;
    text-align: right;
}

footer .copyright a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
footer .tags a{
    border: 1px solid #b0b0b0;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.slick-slide{
    height: auto;
    cursor: pointer;
}
.slick-slide img{
    border-radius: 50%;
}
.client-info{
    text-align: center;
}
.team-member{
    position: relative;
    transition: all 0.3s;
}
.team-member .team-image{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.team-social{
    background-color: rgba(242, 84, 84, 0.85);
}
.team-img{
    overflow: hidden;
    position: relative;
}
img{
    transition: all .2s ease-in-out;
}
 .team-social{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.team-social a{
    margin-right: 30px;
    color: #fff;
}
.team-img:hover .team-social {
    opacity: 1;
    transform: translateY(0);
}
.team-img:hover img{
    transform: scale(1.1);
}